#game_finder {
    display: flex;
        align-items: stretch;
    height: 500px;
    margin-top: 2rem;
    text-align: left;

    .game-list-container {
        background-color: #f0f0f0;
        position: relative;
        width: 240px;
        &::before {
            color: rgba(0,0,0,0.5);
            content: '\f1c3';
            display: flex;
                align-items: center;
                justify-content: center;
            font-family: 'Material-Design-Iconic-Font';
            font-size: 150%;
            height: 40px; width: 40px;
            position: absolute; top: 0.5rem; left: 0.5rem;
        }

        input {
            background-color: transparent;
            border: none;
            border-right: 1px solid #f0f0f0;
            border-radius: 0;
            font-family: 'Open Sans', 'Verdana', sans-serif;
            font-size: 125%;
            font-weight: 200;
            height: 56px;
            padding: 0.5rem 48px 0.5rem 48px;
            width: 100%;
            &.empty + .clear { display: none; }
        }

        .clear {
            color: rgba(0,0,0,0.25);
            cursor: pointer;
            display: flex;
                align-items: center;
                justify-content: center;
            font-size: 150%;
            height: 40px; width: 40px;
            position: absolute; top: 0.5rem; right: 0.5rem;
            &:hover { color: #f44336; }
        }

        .game-list {
            list-style-type: none;
            height: calc(100% - 56px);
            margin: 0;
            padding: 0;
            overflow-y: auto;
            &::-webkit-scrollbar-track { background-color: transparent; }
            &::-webkit-scrollbar {       background-color: transparent; width: 0.5rem; }
            &::-webkit-scrollbar-thumb { background-color: $color__secondary; }

            .game {
                color: $color__text-main;
                cursor: pointer;
                padding: 0.5rem 1rem;
                &:hover  { background-color: rgba(0,0,0,0.1); }
                &.active { color: $color__primary; font-weight: 700; letter-spacing: -1px; }
                &.hide   { display: none; }
            }
        }
    }

    .active-game-container {
        width: calc(100% - 240px);

        .close {
            color: rgba(0,0,0,0.25);
            cursor: pointer;
            display: none;
            align-items: center;
            justify-content: center;
            font-size: 150%;
            height: 40px; min-width: 40px;
            position: absolute; top: 0.5rem; right: 0.5rem;
            transition: color 0.25s;
            z-index: 5;
            &:hover { color: #f44336; }
        }

        .active-game {
            background-color: $color__background-body;
            color: $color__text-main;
            height: 100%;
            overflow-y: auto;
            position: relative;
            &::-webkit-scrollbar-track { background-color: transparent; }
            &::-webkit-scrollbar {       background-color: transparent; width: 0.5rem; }
            &::-webkit-scrollbar-thumb { background-color: $color__secondary; }
            &.loading {
                &::before {
                    background-color: inherit;
                    content: 'Loading...';
                    padding-top: 4rem;
                    position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                    text-align: center;
                }
                .active-game-header { display: none; }
            }
            &:not(.active) .active-game-header .active-game-meta { display: none; }
            .hide { display: none; }

            .active-game-header {
                background-color: $color__background-body;
                display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                min-height: 40px;
                padding: 1.5rem 40px 0.5rem;
                position: sticky; top: 0;

                .active-game-title {
                    font-weight: 700;
                    letter-spacing: -2px;
                    line-height: 1.2;
                    margin: 0 0 0.5rem;
                    padding: 0.2rem 0.5rem;
                    text-align: center;
                    text-transform: uppercase;
                }

                .active-game-meta {
                    color: rgba(0,0,0,0.5);
                    display: flex;
                        justify-content: center;
                    font-size: 75%;
                    font-weight: 500;
                    margin-bottom: 0.5rem;

                    .active-game-rating,
                    .active-game-time,
                    .active-game-players {
                        background-color: rgba(0,0,0,0.1);
                        border-radius: 12px;
                        line-height: 24px;
                        margin-right: 0.5rem;
                        padding: 0 0.5rem;
                    }

                    .active-game-rating {
                        &::before {
                            content: 'Age:';
                            margin-right: 0.25rem;
                        }
                    }
                    .active-game-time {
                        &::before {
                            content: '\f017';
                            font-family: 'FontAwesome';
                            margin-right: 0.25rem;
                        }
                    }
                    .active-game-players {
                        &::before {
                            content: '\f0c0';
                            font-family: 'FontAwesome';
                            margin-right: 0.25rem;
                        }
                    }
                }
            }

            .active-game-body {
                padding: 0.5rem 1.5rem 1.5rem;

                .active-game-content {
                    margin: 0;
                }
            }

            .active-game-image {
                display: flex;
                    justify-content: center;
                padding-top: 1.5rem;
                text-align: center;
            }
            .active-game-image img {
                max-height: 150px;
                width: auto;
            }
        }
    }

    @media screen and ( max-width:768px ) {
        height: 400px;
        position: relative;

        .game-list-container,
        .active-game-container {
            height: 100%; width: 100%;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
        }

        .active-game-container {
            pointer-events: none;

            &.active .close {
                display: flex;
                pointer-events: auto;
            }

            .active-game {
                opacity: 0;
                transition: opacity 0.25s;
                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
}
