#masthead {
    background-color: $color__primary;
    display: flex;
    align-items: center;
    position: sticky;
        top: 0;
    z-index: 990;

    .site-branding {
        margin-right: 1rem;

        .custom-logo-link {
            padding: 0.5rem;

            .custom-logo {
                max-height: 40px;
                width: auto;
            }
        }
    }

    .main-navigation {
        height: 100%;

        .menu-primary-container {
            height: 100%;
        }

        .menu {
            height: 100%;

            .menu-item {
                height: 100%;
                a {
                    color: white;
                    font-size: 90%;
                    font-weight: 700;
                    letter-spacing: -1px;
                    padding: 0 0.5rem;
                    text-transform: uppercase;
                }
                &.active a {
                    color: $color__secondary;
                }
            }
        }
    }
}
