#opening_times {
    background-color: rgba(0,0,0,0.08);
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    @media screen and ( max-width:767px ) {
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 1rem;
        text-align: center;
    }

    .op-table {
        .op-cell-heading { text-align: left; }
        .op-cell-periods { text-align: right; }
    }

    .op-overview-shortcode + .op-is-open-shortcode {
        text-align: center;

        .op-open, .op-closed {
            font-weight: 700;
        }

        .op-next-period {
            color: rgba(0,0,0,0.75);
            font-size: 75%;
        }
    }

    span.op-open   { color: $color__success; }
    span.op-closed { color: $color__error; }
}
