.simcal-calendar-grid,
.simcal-calendar-list {
    background-color: $color__background-body;

    .simcal-calendar-head {
        background-color: $color__primary;
        color: white;

        .simcal-nav {
            .simcal-nav-button {
                color: inherit;
                min-height: 40px;
                &[disabled="disabled"] {
                    opacity: 0.2;
                }
            }
        }
    }

    .simcal-month {
        .simcal-week {

//             td div {
//                 background-color: $color__background-body;
//                 border: none!important;
//             }
//
//             .simcal-day {
//                 background-color: $color__background-body;
//                 height: 100%;
//                 overflow: auto;
//                 position: relative;
//                 &:hover {
//                     background-color: $color__background-body;
//                     outline: 2px solid $color__secondary;
//                     outline-offset: -2px;
//                     .simcal-day-label { color: $color__secondary!important; }
//                 }
//                 div {
//                     background-color: inherit;
//                     color: inherit;
//                 }
//
//                 .simcal-day-label {
//                     background-color: inherit!important;
//                     color: rgba(0,0,0,0.25)!important;
//                     font-weight: 700;
//                     letter-spacing: -1px;
//                     background-color: transparent;
//                     padding: 0.5rem 0 0;
//                 }
//
//                 .simcal-events {
//                     color: $color__text-input;
//                     text-align: center;
//                     &> .simcal-event {
//                         border-bottom: none;
//                         font-weight: 700;
//                         &:hover { color: $color__primary; text-decoration: none; }
//                     }
//                 }
//             }
//
//             .simcal-day-void,
//             .simcal-day-void:hover {
//                 background-color: transparent;
//                 outline: none;
//             }
//
//             .simcal-today {
//                 div { background-color: $color__primary; }
//                 .simcal-events {
//                     color: white;
//                 }
//             }
        }
    }
}

//////////////////////////////////////////
//  LIST CALENDAR
//////////////////////////////////////////

.simcal-calendar-list {
    .simcal-calendar-head {
        padding-top: 10px;
    }
    .simcal-events-list-container {
        margin: 0;
    }
}

//////////////////////////////////////////
//  EVENT BUBBLE
//////////////////////////////////////////

// .simcal-event-bubble {
//     .qtip-content {
//         .simcal-event-details {
//             color: $color__text-input;
//             p { margin: 0; }
//             p:last-of-type { text-align: center; }
//             .simcal-event-title {
//                 color: $color__primary;
//                 font-size: 125%;
//                 margin-bottom: 0;
//             }
//             .simcal-event-date,
//             .simcal-event-start,
//             .simcal-event-end {
//                 font-size: 85%;
//                 opacity: 0.85;
//             }
//             .simcal-event-address { display: none; }
//             .simcal-event-description { margin: 1rem 0 0.5rem; }
//             a {
//                 background-color: $color__primary;
//                 color: white;
//                 display: inline-block;
//                 display: none;
//                 margin: 0 auto;
//                 padding: 0.25rem 0.5rem;
//                 text-decoration: none;
//             }
//         }
//     }
// }
