.tablepress {

    thead tr th {
        background-color: transparent;
        border-bottom: none;
        padding: 0 0 1rem;
    }

    tbody.row-hover tr:hover td {
        background-color: rgba(0,0,0,0.05);
        cursor: pointer;
    }


    tr.odd td  { background-color: rgba(0,0,0,0.05); border-top: none; }
    tr.even td { background-color: transparent; border-top: none; }
    thead + tbody tr.odd td  { background-color: transparent; border-top: none; }
    thead + tbody tr.even td { background-color: rgba(0,0,0,0.05); border-top: none; }
}
