.block-section.bookings {

    a {
        color: $color__primary;
        text-decoration: none;

        strong {
            font-size: 200%;
            font-weight: 700;
            letter-spacing: -1px;
        }
    }

}
