#menu {

    h2 {
        display: inline-block;
    }

    h2 + p {
        display: inline-block;
        margin-left: 0.5rem;
        opacity: 0.5;
    }

    .elementor-widget-accordion {
        margin: 0 auto;
        max-width: 640px;
        p { margin: 0; }
    }

    .elementor-row {
        flex-wrap: nowrap;
        .elementor-column:first-of-type { margin-right: 1rem; }
        .elementor-column:last-of-type  { margin-left: 1rem; }
        @media screen and ( max-width:768px ) {
            flex-wrap: wrap;
            .elementor-column {
                margin: 0!important;
                width: 100%;
            }
        }
    }

    .tablepress.menu {
        margin: 0;

        thead tr {
            th:first-of-type {
                color: $color__secondary;
                font-size: 150%;
                letter-spacing: -2px;
                text-transform: uppercase;
            }

            th:last-of-type {
                color: rgba(255,255,255,0.75);
                font-weight: 300;
                min-width: 100px;
                text-align: right;
            }
        }

        tbody tr td {
            border-top: none;
        }

        tbody tr td[colspan] {
            // color: rgba(0,0,0,0.5);
            color: $color__secondary;
            font-weight: 500;
        }

        tbody tr td:first-of-type {
            padding-left: 1rem;
            width: 100%;
            &.indent {
                color: $color__secondary;
                padding-left: 3rem;
                &[colspan] {
                    padding-right: 3rem;
                }
            }
        }

        tbody tr td:last-of-type:not(:first-of-type) {
            color: $color__secondary;
            font-size: 125%;
            font-weight: 700;
            padding-left: 2rem;
            padding-right: 1rem;
            text-align: right;
            white-space: nowrap;
            width: 1px;
        }
    }

    .option {
        background-color: rgba(0,0,0,0.2);
        border-radius: 12px;
        color: white;
        display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 75%;
        font-weight: 700;
        height: 20px;
        min-width: 20px;
        padding: 0 6px;

        &.vegetarian  { background-color: #00C853; }
        &.vegan       { background-color: #0091EA; }
        &.gluten-free { background-color: #FFC107; }
        &.dairy-free  { background-color: #FF5722; }
    }
}
