.block-section.menu {

    h2 {
        display: inline-block;
    }

    h2 + p {
        display: inline-block;
        margin-left: 0.5rem;
        opacity: 0.5;
    }

    .tablepress.menu {

        thead tr {
            th:first-of-type {
                color: $color__primary;
                font-size: 150%;
                letter-spacing: -2px;
                text-transform: uppercase;
            }

            th:last-of-type {
                color: rgba(0,0,0,0.5);
                font-weight: 300;
                text-align: right;
            }
        }

        tbody td {
            border-top: none;
        }

        tbody tr td:first-of-type {
            width: 70%;
        }

        tbody tr td:last-of-type {
            color: $color__primary;
            font-weight: 700;
            text-align: right;
        }
    }
}
